<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ConvoHub</title>
</head>
<body>
    <header class="flex justify-between p-5 px-10">
        <h1 class="text-2xl font-bold">Convo<span class="text-[#b34467]">Hub</span></h1>
        <div class="flex gap-5">
            <a href="/login" class="border-2 border-[#8F435B] text-[#8F435B] font-semibold px-3">Log In</a>
            <a href="/sign-up" class="bg-[#061410] text-white py-1 font-semibold px-3">Sign Up</a>
        </div>
    </header>

    <main class="flex items-center px-15 py-5">
        <div>
            <p class="text-6xl font-bold mb-10">Connect with people in real time</p>
            <p class="text-xl mb-10">Your go to place to build a community that shares your interests. Join the stream. Share what’s on your mind and read what the world is saying, one message at a time.</p>
            <a href="/sign-up" class="bg-[#b34467] text-white font-bold rounded text-lg py-2 px-4">Join Convo</a>
        </div>
        <img src="/images/home-visual.png" width="600" />
    </main>
</body>
</html>