<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ConvoHub</title>
</head>
<body>

    <form action="/sign-up" method="post" id="signUpForm" class="flex flex-col gap-5 mt-20 m-auto font-medium max-w-120">
        <h2 class="m-auto font-bold text-[#b34467] text-2xl mb-10">Join ConvoHub community</h2>

        <%- include("partials/errors.ejs") %>

        <div class="flex items-center">
            <label for="firstname" class="w-30">First Name: </label>
            <input name="firstname" id="firstname" 
                class="border rounded flex-1 p-1" 
                value="<%= locals.oldInput ? oldInput.firstname : '' %>" 
            />
        </div>

        <div class="flex items-center">
            <label for="lastname" class="w-30">Last Name: </label>
            <input name="lastname" id="lastname" 
                class="border rounded flex-1 p-1" 
                value="<%= locals.oldInput ? oldInput.lastname : '' %>" 
            />
        </div>
        
        <div class="flex items-center">
            <label for="email" class="w-30">Email: </label>
            <input name="email" type="email" id="email" 
                class="border rounded flex-1 p-1" 
                value="<%= locals.oldInput ? oldInput.email : '' %>"
            />
        </div>
        
        <div class="flex items-center">
            <label for="password" class="w-30">Password: </label>
            <input name="password" type="password" 
                id="password" 
                class="border rounded flex-1 p-1"
            />
        </div>

        <div class="flex items-center">
            <label for="confirmPassword" class="w-30">Confirm Password: </label>
            <input name="confirmPassword" type="password" 
                id="confirmPassword" 
                class="border rounded flex-1 p-1" 
            />
        </div>
        
        <button type="submit" class="bg-[#000000] w-40 p-1 rounded text-white font-semibold cursor-pointer m-auto">
            Create Account
        </button>

        <p class="m-auto">Already have account? 
            <a href="/login" class="text-[#8F435B] font-semibold">LogIn</a>
        </p>
    </form>
</body>
</html>