<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Members Only</title>
</head>
<body>
    <form action="/sign-up" method="post" id="signUpForm" class="flex flex-col gap-10 mt-30 m-auto max-w-100">
        <div class="flex gap-10 items-center">
            <label for="firstname" class="w-20">First Name: </label>
            <input name="firstname" id="firstname" class="border rounded flex-1" />
        </div>

        <div class="flex gap-10 items-center">
            <label for="lastname" class="w-20">Last Name: </label>
            <input name="lastname" id="lastname" class="border rounded flex-1" />
        </div>
        
        <div class="flex gap-10 items-center">
            <label for="email" class="w-20">Email: </label>
            <input name="email" type="email" id="email" class="border rounded flex-1" />
        </div>
        
        <div class="flex gap-10 items-center">
            <label for="password" class="w-20">Password: </label>
            <input name="password" type="password" id="password" class="border rounded flex-1" />
        </div>
        
        <button type="submit" class="bg-blue-500 w-40 p-1 rounded text-white font-semibold cursor-pointer m-auto">Create Account</button>
        <p class="m-auto">Already have account? <a href="/login" class="text-blue-700">LogIn</a></p>
    </form>
</body>
</html>