<% if (locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li style="color: red;"><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<% if (locals.authError) { %>
  <p style="color: red;"><%= authError %></p>
<% } %>